@model LojaVirtual.Models.Produto





<h3>Produto -> Visualizar :)</h3>

Razor:
@{
    string nome = "Gustavo Silva";
}
@nome


<br />
<b>Id: </b>@Model.Id
<br />
<b>Nome: </b>@Model.Nome
<br />
<b>Descrição: </b>@Model.Descricao
<br />
<b>Valor: </b>@Model.Valor
  
